.home_light{
    display: grid;
    grid-template-columns: 5.5rem 1fr;
    grid-template-areas: sidbar main;
    height: auto;
    width: auto;
    background-color: #f8f8f8;
    color: black;
}
.home_dark{
    display: grid;
    grid-template-columns: 5.5rem 1fr;
    grid-template-areas: sidbar main;
    height: auto;
    width: auto;
    background-color: #222222;
    color: white;
}
.home_dark .users_Table td,
th{
    color: black;
}

.usersMain {
    grid-column-start: 2;
    width: auto;
}

.userList {
    margin-left: 3%;
    margin-top: 5%;
}
.top-title{     
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%
}

.userList h3 {
    display: inline-flex;
    /* flex: 2; */
    align-items: center;
    justify-content: space-between;
    width: 30%;
    font-size: 2rem;
    padding: 0 0 2rem;
    padding-left: 9rem;
}
.control-container{
    width: 30%;
}
.Back {
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.Back p {
    display: flex;
    align-items: center;
    padding: 0 8rem;
}

.users_Table {
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 80%;
    background-color: rgb(255, 252, 246);
    border-collapse: collapse;
}

.users_Table td,
th {
    padding: 0.6rem;
    text-align: center;
    border: 1px solid rgb(37, 37, 41);
    font-size: 1.1rem;
}

.users_Table tr:hover {
    background-color: rgb(206, 203, 203);
}

.users_Table td a {
    text-decoration: none;
    color: rgb(47, 133, 182);
}

.users_Table th {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: rgb(206, 203, 203);
}

.delete {
    font-size: 1.5rem;
    color: red;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.control-container{
    display: flex;
    justify-content: space-around;
    width: 500px;
    
}
.control-container button {
    width: 30%;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.control-container button[name="prev"] {
    background-color: aquamarine;
    color: black;
    font-weight: bold;
    font-size: larger;    
}
.control-container button[name="next"] {
    background-color: brown;
    color: white;
    font-weight: bold;
    font-size: larger;    
}